.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color:  hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);;
    border-radius: 15px;
    overflow: hidden;
    padding: 32px;
    margin: 1rem;
    max-width: 350px;
}

.qr-code img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-family: "Outfit", serif;
    font-weight: 700;
    text-align: center;
}

p {
    color: hsl(216, 15%, 48%);
    font-family: "Outfit", serif;
    font-weight: 400;
    text-align: center;
}