.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color:  hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);;
    border-radius: 15px;
    overflow: hidden;
    padding: 32px;
}

.qr-code img {
    width: 100%;
}